.bookkeeping {
  display: flex;
  flex-wrap: wrap;
  width: 99vw;
  height: 500px;
  margin-top: 10rem;
  justify-content: space-evenly;
}

.chart {
  width: 35vw;
}

.bookkeepingarticle {
  width: 30vw;
}

.bookkeepingtitle {
  font-size: 3rem;
  border-bottom: 2px solid white;
}

.bookkeepingbody {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
