.bookkeeping {
  display: flex;
  width: 99vw;
  height: 500px;
  margin-top: 10rem;
  justify-content: space-evenly;
}

.chart {
  width: 410px;
  height: 410px;
}

.bookkeepingarticle {
  width: 30%;
}

.bookkeepingtitle {
  font-size: 3rem;
  border-bottom: 2px solid white;
}

.bookkeepingbody {
  padding-top: 1rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

@media (max-width: 1200px) {
  .bookkeeping {
    flex-direction: column;
  }
  .chart {
    align-self: center;
  }
  .bookkeepingarticle {
    width: 50vw;
    padding-top: 4rem;
    padding-left: 1.3rem;
  }
  .bookkeepingtitle {
    width: 90vw;
  }
  .bookkeepingbody {
    width: 90vw;
    align-self: flex-start;
    text-align: left;
  }
}
