.header {
  position: fixed;
  width: 100%;
  min-height: 4rem;
  max-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222b35;
  padding: 0px 16px;
  z-index: 1;
}

.headerdiv {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.login {
  margin-right: 16px;
  width: 6rem;
  height: 2rem;
  background-color: #fafafa;
  opacity: 80%;
  border-radius: 0.5rem;
  font-size: 15px;
  cursor: pointer;
}

.login:hover {
  opacity: 1;
}

.icon {
  cursor: pointer;
}
