@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
h1 {
  color: #fafafa;
}

.background {
  background-image: linear-gradient(130deg, #2c3e50, #000000);
  min-height: 100vh;
}

/* @media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    font-family: "Roboto", sans-serif;
  }
  p {
    color: #fafafa;
  }
} */
